body {
    background-color: black;
    padding-top: 170px;
}

p {
    font-size: 30px;
    padding: 5px;
}

.flex-container {
    display: flex;
    justify-content:center; 
    height: 500px;
    flex-direction: row;
    
}

td{
    background-color: white;
    width:150px;
    text-align: center;
    font-size: 50px;
}



